@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

html,
body,
#root,
.App,
.layout {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
